.ads-container {
    display: flex;
    width: 670px;
    margin-left: 180px;
    color: $text-white-color;
    .ads__list {
        padding-left: 0;
        // padding-top: 40px;
        .list__item {
            list-style: none;
            color: $text-white-color;
            margin-top: 30px;
            .list__url-container {
                display: block;
                cursor: pointer;
                &:hover ~ .list__title {
                    text-decoration: underline;
                }
                .list__url {
                    font-size: $h5;
                    font-style: normal;
                    color: #bdc1c6;
                    line-height: 3;
                    text-decoration: none;
                }
            }
            .list__title {
                color: $title-color;
                font-size: 20px;
                line-height: 0;
                font-weight: normal;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .list__snippet {
                font-size: 14px;
                color: $snippet-color;
                margin-top: 5px;
            }
            .list__sitelinks {
                list-style: none;;
                margin-left: -20px;
                .sitelinks__item {
                    margin-top: 20px;
                    .sitelinks__title {
                        color: $title-color;
                        font-size: $h3;
                        font-weight: normal;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}