.results__knowledge-container {
    width: 366px;
    height: min-content;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #3c4043;
    border-radius: 8px;
    .knowledge__header {
        width: 100%;
        .knowledge__images-container {
            width: 100%;
            max-height: 220px;
            overflow-x: auto;
            white-space: nowrap;
            .knowledge__image {
                width: auto;
                height: 170px;
                max-height: 220px;
                object-fit: cover;
            }
        }
        .knowledge__title-container {
            color: white;
            margin: 10px;
            .knowledge__title {
                font-weight: normal;
                font-size: 30px;
                display: inline;
            }
            .knowledge__type {
                line-height: 1.58;
                font-weight: normal;
                margin-top: 5px;
                font-size: 14px;
                color: #9aa0a6;
            }
        }
    }
    .knowledge__data-container {
        margin: 10px;
        padding-top: 10px;
        border-top: 1px solid #3c4043;
        .knowledge__description-container {
            .knowledge__description {
                display: inline;
                color: $snippet-color;
                font-size: 14px;
                line-height: 1.58;
            }
            .knowledge__source {
                margin-left: 10px;
                text-decoration: none;
                color: $title-color;
            }
        }
        .knowledge__known-attributes {
            list-style: none;
            padding: 0;
            max-width: 400px;
            .list__item {
                color: $snippet-color;
                line-height: 1.58;
                font-size: 14px;
                display: flex;
                align-items: center;
                .list__link {
                    text-decoration: none;
                    color: #bdc1c6;
                    &:hover {
                        text-decoration: underline;
                    }
                    .list__name {
                        font-weight: bolder;
                        display: inline;
                    }
                }
                .list__value {
                    margin-left: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    line-height:1;
                    width: 204px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .results__knowledge-container {
        margin-left: 0;
        width: auto;
        border-right: 0;
        border-left: 0;
        .knowledge__header {
            display: flex;
            flex-direction: column-reverse;
            .knowledge__images-container {
                overflow-x: auto;
                white-space: nowrap;
                width: 100vw;
                .knowledge__image {
                    height: 144px;
                    width: auto;
                    margin-left: 5px;
                    margin-right: 5px;
                    &:nth-child(1) {
                        margin-left: 20px;
                    }
                }
            }
            .knowledge__title-container {
                margin: 20px;
                .knowledge__title {
                }
                .knowledge__type {
                }
            }
        }
        .knowledge__data-container {
            margin: 20px;
            padding-top: 0;
            border: none;
            .knowledge__description-container {
                .knowledge__description {
                }
                .knowledge__source {
                }
            }
            .knowledge__known-attributes {
                .list__item {
                    .list__link {
                        .list__name {
                        }
                    }
                    .list__value {
                    }
                }
            }
        }
    }
}