.local-results-container {
    width: 670px;
    margin-left: 180px;
    margin-top: 20px;
    .local-results__list {
        display: flex;
        flex-direction: column;
        color: #9aa0a6;
        list-style: none;
        width: 670px;
        padding-left: 0;
        .list__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #3c4043;
            width: 670px;
            padding: 10px;
            padding-left: 0;
            .list__left-section {
                display: flex;
                .list__letter {
                    margin-right: 10px;
                    margin-top: 20px;
                    color: #ff7769;
                    font-size: 20px;
                }
                .list__data-container {
                    .list__title {
                        line-height: 0;
                        color: #bdc1c6;
                        font-weight: normal;
                    }
                    .list__extension-list {
                        list-style: none;
                        padding-left: 0;
                        margin-top: -5px;
                        .list__extension-item {
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .list__right-section {

                .list__image-container {
                    width: 92px;
                    height: 92px;
                    .list__image {
                        border-radius: 8px;
                        width: 92px;
                        height: 92px;
                        object-fit: cover;
                    }
                }
                .list__website-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #8ab4f8;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        .list__website-logo {
                            background-color: #303134;
                        }
                    }
                    .list__website-logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 300px;
                        border: 1px solid #3c4043;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .local-results-container {
        width: 93vw;
        margin-left: 0;
        margin-top: 0;
        .local-results__list {
            width: 100vw;
            .list__item {
                border-top: 1px solid #3c4043;
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                &:last-of-type {
                    border-bottom: 1px solid #3c4043;
                }
            }
        }
    }
}