.results__organic_results-container {
    display: flex;
    width: 670px;
    margin-left: 180px;
    margin-top: 0px;
    color: $text-white-color;
    .results__list {
        padding-left: 0;
        margin-top: -10px;
        .list__item, .list__item--thumbnail {
            display: flex;
            list-style: none;
            color: $text-white-color;
            margin-top: 10px;
            &:last-of-type {
                margin-bottom: -10px;
            }
            .list__left-section {
                .list__url-container {
                    display: block;
                    cursor: pointer;
                    &:hover ~ .list__title {
                        text-decoration: underline;
                    }
                    .list__url {
                        font-size: 14px;
                        font-style: normal;
                        color: #bdc1c6;
                        line-height: 3;
                        text-decoration: none;
                    }
                }
                .list__title {
                    color: $title-color;
                    font-size: 20px;
                    line-height: 0;
                    font-weight: normal;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .list__date {
                    font-weight: normal;
                    display: inline;
                    margin-right: 10px;
                    color: #9aa0a6;
                }
                .list__snippet {
                    font-size: 14px;
                    color: $snippet-color;
                    margin-top: 5px;
                }
                .list__sitelinks {
                    list-style: none;;
                    margin-left: -20px;
                    .sitelinks__item {
                        margin-top: 20px;
                        .sitelinks__title {
                            color: $title-color;
                            font-size: $h3;
                            font-weight: normal;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .list__right-section {
                width: 92px;
                height: 92px;
                margin-left: 20px;
                .list__image {
                    width: 92px;
                    height: 92px;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .results__organic_results-container {
        display: flex;
        width: 100vw;
        margin-left: 0;
        border-right: 0;
        border-left: 0;
        .results__list {
            width: 100%;
            .list__item {
                border: 1px solid #3c4043;
                align-items: center;
                .list__left-section {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 20px;
                    // padding-right: 0;
                    .list__url-container {
                        margin-bottom: 20px;
                        .list__url {
                            line-height: normal;
                        }
                    }
                    .list__title {
                    }
                    .list__date {
                    }
                    .list__snippet {
                    }
                    .list__sitelinks {
                        .sitelinks__item {
                            .sitelinks__title {
                            }
                        }
                    }
                }
                .list__right-section {
                    margin-left: 0;
                    margin-right: 20px;
                    .list__image {
                    }
                }
            }
            .list__item--thumbnail {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                color: $text-white-color;
                margin-top: 10px;
                border: 1px solid #3c4043;
                padding: 20px;
                &:last-of-type {
                    margin-bottom: -10px;
                }
                .list__left-section {
                    .list__url-container {
                        display: block;
                        cursor: pointer;
                        &:hover ~ .list__title {
                            text-decoration: underline;
                        }
                        .list__url {
                            font-size: 14px;
                            font-style: normal;
                            color: #bdc1c6;
                            line-height: 3;
                            text-decoration: none;
                        }
                    }
                    .list__title {
                        color: $title-color;
                        font-size: 20px;
                        line-height: 0;
                        font-weight: normal;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .list__date {
                        font-weight: normal;
                        display: inline;
                        margin-right: 10px;
                        color: #9aa0a6;
                    }
                    .list__snippet {
                        font-size: 14px;
                        color: $snippet-color;
                        margin-top: 5px;
                    }
                    .list__sitelinks {
                        list-style: none;;
                        margin-left: -20px;
                        .sitelinks__item {
                            margin-top: 20px;
                            .sitelinks__title {
                                color: $title-color;
                                font-size: $h3;
                                font-weight: normal;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .list__right-section {
                    width: 92px;
                    height: 92px;
                    margin-left: 5px;
                    .list__image {
                        width: 92px;
                        height: 92px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 330px){
    .results__organic_results-container {
        .results__list {
            .list__item--thumbnail {
                display: grid;
                grid-template-columns: 65% 35%;
            }
        }
    }
}