.related-questions-container {
    margin-left: 180px;
    margin-top: 10px;
    .related-questions__title {
        color: #dddee1;
        font-weight: normal;
        font-size: 22px;
    }
    .related-questions__list {
        margin: 0;
        padding: 0;
        .list__item {
            color: #bdc1c6;
            list-style: none;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #3c4043;
            border-bottom: 1px solid #3c4043;
            cursor: pointer;
            width: 670px;
            .list__accordion-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header__title {
                    line-height: 0;
                    font-weight: normal;
                }
            }
            .list__accordion-body {
                display: none;
                max-height: 0;
                &.active {
                    max-height: 290px;
                    display: inline;
                }
                .body__text {
                    cursor:text;
                    margin: 0;
                    line-height: 24px;
                }
                .body__link-container {
                    display: flex;
                    margin-top: 20px;
                    &:hover ~ .body__title {
                        text-decoration: underline;
                    }
                    .body__link {
                        text-decoration: none;
                        color: #bdc1c6;
                    }
                }
                .body__title {
                    color: #8ab4f8;
                    text-decoration: none;
                    font-size: 20px;
                    line-height: 2;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .body__search-for-title {
                    display: flex;
                    align-items: center;
                    color: #bdc1c6;
                    cursor: default;
                    margin-top: 30px;
                    .body__search-for {
                        text-decoration: none;
                        color: #8ab4f8;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .related-questions-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        border: 1px solid #3c4043;
        .related-questions__title {
            margin-left: 20px;
        }
        .related-questions__list {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            .list__item {
                margin: 3px;
                margin-left: 10px;
                margin-right: 10px;
                width: auto;
                font-size: 14px;
                border-bottom: none;
                .list__accordion-header {
                    .header__title {
                        margin: 10px;
                        margin-left: 0;
                        line-height: normal;
                    }
                }
                .list__accordion-body {
                    margin: 10px;
                    &.active {
                        max-height: unset;
                    }
                    .body__link-container {
                        margin-bottom: 10px;
                    }
                    .body__title {
                        line-height: 0;
                    }
                }
            }
        }
    }
}