.related-searches-container {
    margin-left: 180px;
    margin-top: 40px;
    color: #bdc1c6;
    .realted-searches__header {
        border-bottom: 1px solid #3c4043;
        .related-searches__title {
            font-size: 22px;
            font-weight: normal;
            color: #ddd;
            line-height: 0;
        }
    }
    .related-searches__body {
        .related-searches__group-container {
            border-bottom: 1px solid #3c4043;
            margin-bottom: 40px;
            .group__title {
                font-weight: normal;
            }
            .group__list {
                list-style: none;
                display: flex;
                padding: 0;
                .list__item {
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
                    .list__image {
                        width: 100px;
                        height: 100px;
                        background: red;
                        border-radius: 8px;
                        cursor: pointer;
                        &:hover ~ .list__query {
                            text-decoration: underline;
                        }
                    }
                    .list__query {
                        color: #bdc1c6;
                        text-decoration: none;
                        margin-top: 10px;
                        margin-left: 10px;
                        font-size: 14px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .related-searches__group-standard {
            .standard__list {
                list-style: none;
                padding: 0;
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 10px;
                margin-top: 40px;
                .list__item-container {
                    text-decoration: none;
                    .list__item {
                        display: flex;
                        align-items: center;
                        border-radius: 100px;
                        height: 48px;
                        max-height: 48px;
                        background-color: #303134;
                        cursor: pointer;
                        &:hover {
                            .list__link {
                                text-decoration: underline;
                            }
                        }
                        .fa-search {
                            margin-left: 20px;
                            color: #bdc1c6;
                            font-size: 14px;
                            text-decoration: none;
                        }
                        .list__link {
                            margin-left: 20px;
                            text-decoration: none;
                            color: #bdc1c6;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .related-searches-container {
        margin-left: 0;
        padding: 20px;
        border: 1px solid #3c4043;
        border-right: 0;
        border-left: 0;
        margin-top: 20px;
        .realted-searches__header {
            border: none;
            .related-searches__title {
            }
        }
        .related-searches__body {
            .related-searches__group-container {
                .group__title {
                }
                .group__list {
                    width: 87vw;
                    overflow-x: scroll;
                    .list__item {
                        .list__image {
                        }
                        .list__query {
                        }
                    }
                }
            }
            .related-searches__group-standard {
                .standard__list {
                    grid-template-columns: 100%;
                    .list__item-container {
                        .list__item {
                            .fa-search {
                            }
                            .list__link {
                            }
                        }
                    }
                }
            }
        }
    }
}