$title-color: #8ab4f8;

.results-main {
    width: 100%;
    height: 100%;
    .results-container {
        height: 100%;
        width: 100%;
        .results-navbar-container {
            width: 100%;
            .results-navbar {
                display: flex;
                align-items: center;
                margin-top: 25px;
                margin-left: 20px;
                .navbar__logo-container {
                    width: 100px;
                    .navbar__logo{
                        width: 90px;
                        height: auto;
                    }
                }
                .navbar__input-container {
                    width: 100%;
                    margin-left: 50px;
                    .navbar__input-container-section {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        max-width: 690px;
                        width: 100%;
                        border-radius: 24px;
                        z-index: 3;
                        height: 44px;
                        max-width: 690px;
                        color: $text-white-color;
                        box-sizing: border-box;
                        background-color: $background-light-dark-color;
                        .navbar__search-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 10%;
                            font-size: 14px;
                            color: #9aa0a6;
                        }
                        .navbar__input {
                            width: 85%;
                            color: $text-white-color;
                            background-color: $background-light-dark-color;
                            border-radius: 24px;
                            border: 1px solid #5f6368;
                            border: none;
                            padding-left: 0px;
                            outline: none;
                            font-size: 16px;
                            height: 40px;
                        }
                    }
                }
                .navbar__dark-mode-container {
                    width: 100px;
                }
            }
            .results-navbar-results-sections {
                color: #969ba1;
                margin-left: 120px;
                border-bottom: 1px solid #3c4043;
                .sections__list {
                    list-style: none;
                    display: flex;
                    margin-bottom: 0;
                    .list__item {
                        display: flex;
                        align-items: center;
                        margin-left: 20px;
                        cursor: pointer;
                        border-bottom: 3px solid #202124;
                        &:nth-child(1) {
                            border-bottom: 3px solid #8ab4f8;
                        }
                        i {
                            width: 16px;
                            height: 16px;
                        } 
                        .list__title {
                            font-size: 14px;
                            font-weight: normal;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .results-navbar__search-metadata {
                color: #9aa0a6;
                margin-left: 180px;
                font-size: 14px;
                font-weight: normal;
            }
        }
        .results-results-container {
            height: 100%;
            display: flex;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .results-main {
        overflow-x: auto;
        .results-container {
            .results-navbar-container {
                .results-navbar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: 0;
                    .navbar__input-container {
                        margin-top: 20px;
                        margin-left: 0px;
                        width: 80%;
                        .navbar__input-container-section {
                            width: auto;
                            max-width: unset;
                            .navbar__search-icon {
                                .fa-search {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                .results-navbar-results-sections {
                    margin-left: 0;
                    .sections__list {
                        justify-content: center;
                        margin-left: 0;
                        padding: 0;
                        .list__item {
                            margin-left: 0;
                            display:initial;
                            i {
                                display: none;
                            }
                        }
                    }
                }
                .results-navbar__search-metadata {
                    display: flex;
                    justify-content: center;
                    margin-left: 0;
                }
            }
            .results-results-container {
                flex-direction: column-reverse;
                align-items: center;
                height: auto;
                .results__left-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}

@import "./skeletonresults";
@import "./organicresults";
@import "./knowledgegraph";
@import "./ads";
@import "./topstories";
@import "./relatedquestions";
@import "./relatedsearches";
@import "./pagination";
@import "./inlinetweets";
@import "./localmap";
@import "./localresults";
@import "./inlinevideos";