$title-color: #8ab4f8;
$snippet-color: #bdc1c6;

.results-main {
    width: 100%;
    height: 100%;
    .results-container {
        height: 100%;
        .results-navbar {
            display: flex;
            align-items: center;
            margin-top: 25px;
            margin-left: 20px;
            .navbar__logo-container {
                width: 100px;
                .navbar__logo{
                    width: 90px;
                    height: auto;
                }
            }
            .navbar__input-container {
                width: 100%;
                margin-left: 50px;
                .navbar__input-container-section {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    width: 690px;
                    border-radius: 24px;
                    z-index: 3;
                    height: 44px;
                    max-width: 690px;
                    color: $text-white-color;
                    box-sizing: border-box;
                    background-color: $background-light-dark-color;
                    .navbar__search-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 10%;
                        font-size: 14px;
                        color: #9aa0a6;
                        .fa-search {
    
                        }
                    }
                    .navbar__input {
                        width: 85%;
                        color: $text-white-color;
                        background-color: $background-light-dark-color;
                        border-radius: 24px;
                        border: 1px solid #5f6368;
                        border: none;
                        padding-left: 0px;
                        outline: none;
                        font-size: 16px;
                        height: 40px;
                    }
                }
            }
            .navbar__dark-mode-container {
                width: 100px;
                .navbar__dark-mode {

                }
            }
        }
        .results-results-container {
            height: 100%;
            display: flex;
            border-top: 1px solid red;
            .results__organic_results-container {
                display: flex;
                width: 670px;
                margin-left: 180px;
                color: $text-white-color;
                .results__list {
                    padding-left: 0;
                    padding-top: 40px;
                    .list__item {
                        list-style: none;
                        color: $text-white-color;
                        margin-top: 40px;
                        .list__url-container {
                            display: block;
                            cursor: pointer;
                            &:hover ~ .list__title {
                                text-decoration: underline;
                            }
                            .list__url {
                                font-size: $h5;
                                font-style: normal;
                                color: #bdc1c6;
                                line-height: 3;
                                text-decoration: none;
                            }
                        }
                        .list__title {
                            color: $title-color;
                            font-size: 20px;
                            line-height: 0;
                            font-weight: normal;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .list__snippet {
                            font-size: 14px;
                            color: $snippet-color;
                            margin-top: 5px;
                        }
                        .list__sitelinks {
                            list-style: none;;
                            margin-left: -20px;
                            .sitelinks__item {
                                margin-top: 20px;
                                .sitelinks__title {
                                    color: $title-color;
                                    font-size: $h3;
                                    font-weight: normal;
                                    text-decoration: none;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .results__knowledge-container {
                width: 400px;
                height: 400px;
                margin-left: 100px;
                margin-top: 100px;
                border: 1px solid #3c4043;
                padding: 10px;
                user-select: none;
                .knowledge__header {
                    .knowledge__title-container {
                        max-width: fit-content;
                        background-color: $background-light-dark-color;
                        border-radius: 30px;
                        .knowledge__title {
                            color: $no-color;
                        }
                    }
                }
                .knowledge__data-container {
                    .knowledge__description-container {
                        max-width: fit-content;
                        background-color: $background-light-dark-color;
                        border-radius: 30px;
                        .knowledge__description {
                            color: $no-color;
                        }
                    }
                    .knowledge__list {
                        list-style: none;
                        padding-left: 0;
                        margin-top: 30px;
                        .list__item {
                            display: flex;
                            max-width: fit-content;
                            background-color: $background-light-dark-color;
                            border-radius: 30px;
                            height: 20px;
                            margin-top: 15px;
                            .list__field {
                                color: $no-color;
                            }
                            .list__value {
                                color: $no-color;
                            }
                        }
                    }   
                }
            }
        }
    }
}