html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - calc(100vh - 100%));
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #202124;
  font-family: "arial";
  margin: 0;
  overflow-x: hidden;
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
}

body .app {
  overflow-x: clip;
  height: 100vh;
}

.searcher-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 86.5%;
}

.searcher-main .searcher-searcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.searcher-main .searcher-searcher-container .searcher__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #5f6368;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 100%;
  max-width: 584px;
  color: #e8eaed;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searcher-main .searcher-searcher-container .searcher__input-container:hover {
  background-color: #303134;
  border: 1px solid #303134;
}

.searcher-main .searcher-searcher-container .searcher__input-container:hover .searcher__input {
  background-color: #303134;
}

.searcher-main .searcher-searcher-container .searcher__input-container .searcher__search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  font-size: 14px;
  color: #9aa0a6;
}

.searcher-main .searcher-searcher-container .searcher__input-container .searcher__input {
  width: 85%;
  color: #e8eaed;
  background-color: #202124;
  border-radius: 24px;
  border: 1px solid #5f6368;
  border: none;
  padding-left: 0px;
  outline: none;
  font-size: 16px;
  height: 40px;
}

.searcher-main .searcher-searcher-container .searcher__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 350px;
  margin-top: 18px;
  height: 70px;
}

.searcher-main .searcher-searcher-container .searcher__buttons-container .searcher__search-button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: "arial";
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}

.searcher-main .searcher-searcher-container .searcher__buttons-container .searcher__search-button:hover {
  border: 1px solid #5f6368;
}

.searcher-main .searcher-searcher-container .searcher__buttons-container .searcher__search-button--lucky {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: "arial";
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}

.searcher-main .searcher-searcher-container .searcher__buttons-container .searcher__search-button--lucky:hover {
  border: 1px solid #5f6368;
}

.results-main {
  width: 100%;
  height: 100%;
}

.results-main .results-container {
  height: 100%;
}

.results-main .results-container .results-navbar-container .results-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-left: 20px;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__logo-container {
  width: 100px;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__logo-container .navbar__logo {
  width: 90px;
  height: auto;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__input-container {
  width: 100%;
  margin-left: 50px;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__input-container .navbar__input-container-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 690px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  max-width: 690px;
  color: #e8eaed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #303134;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__input-container .navbar__input-container-section .navbar__search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  font-size: 14px;
  color: #9aa0a6;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__input-container .navbar__input-container-section .navbar__input {
  width: 85%;
  color: #e8eaed;
  background-color: #303134;
  border-radius: 24px;
  border: 1px solid #5f6368;
  border: none;
  padding-left: 0px;
  outline: none;
  font-size: 16px;
  height: 40px;
}

.results-main .results-container .results-navbar-container .results-navbar .navbar__dark-mode-container {
  width: 100px;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections {
  color: #969ba1;
  margin-left: 120px;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections .sections__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections .sections__list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections .sections__list .list__item:nth-child(1) {
  border-bottom: 3px solid #8ab4f8;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections .sections__list .list__item i {
  width: 16px;
  height: 16px;
}

.results-main .results-container .results-navbar-container .results-navbar-results-sections .sections__list .list__item .list__title {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}

.results-main .results-container .results-navbar-container .results-navbar__divider {
  color: #3c4043;
  margin: 0;
}

.results-main .results-container .results-navbar-container .results-navbar__search-metadata {
  color: #9aa0a6;
  margin-left: 180px;
  font-size: 14px;
  font-weight: normal;
}

.results-main .results-container .results-results-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-skeleton-results-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid red;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.results-skeleton-results-container .results__organic_results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 670px;
  margin-left: 180px;
  color: #e8eaed;
}

.results-skeleton-results-container .results__organic_results-container .results__list {
  padding-left: 0;
  padding-top: 40px;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item {
  list-style: none;
  color: rgba(0, 0, 255, 0);
  margin-top: 40px;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__url-container {
  background-color: #303134;
  width: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 30px;
  -webkit-animation: 3s backgroundAnimation infinite;
          animation: 3s backgroundAnimation infinite;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__url-container .list__url {
  width: 100px;
  font-size: 13px;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__title-container {
  background-color: #303134;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 30px;
  -webkit-animation: 3.5s backgroundAnimation infinite;
          animation: 3.5s backgroundAnimation infinite;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__title-container .list__title {
  padding: 0;
  margin: 0;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__snippet-container {
  background-color: #303134;
  margin-top: 10px;
  word-break: break-all;
  border-radius: 30px;
  -webkit-animation: 3s backgroundAnimation infinite;
          animation: 3s backgroundAnimation infinite;
}

.results-skeleton-results-container .results__organic_results-container .results__list .list__item .list__snippet-container .list__snippet {
  font-size: 16px;
}

.results-skeleton-results-container .results__knowledge-container {
  width: 400px;
  height: 400px;
  margin-left: 100px;
  margin-top: 100px;
  border: 1px solid #3c4043;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.results-skeleton-results-container .results__knowledge-container .knowledge__header .knowledge__title-container {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #303134;
  border-radius: 30px;
  -webkit-animation: 3.5s backgroundAnimation infinite;
          animation: 3.5s backgroundAnimation infinite;
}

.results-skeleton-results-container .results__knowledge-container .knowledge__header .knowledge__title-container .knowledge__title {
  color: rgba(0, 0, 255, 0);
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__description-container {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #303134;
  border-radius: 30px;
  -webkit-animation: 3s backgroundAnimation ease-in-out infinite;
          animation: 3s backgroundAnimation ease-in-out infinite;
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__description-container .knowledge__description {
  color: rgba(0, 0, 255, 0);
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__list {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #303134;
  border-radius: 30px;
  height: 20px;
  margin-top: 15px;
  -webkit-animation: 3s backgroundAnimation infinite;
          animation: 3s backgroundAnimation infinite;
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__list .list__item .list__field {
  color: rgba(0, 0, 255, 0);
}

.results-skeleton-results-container .results__knowledge-container .knowledge__data-container .knowledge__list .list__item .list__value {
  color: rgba(0, 0, 255, 0);
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-color: #303134;
  }
  50% {
    background-color: #b3b3b3;
  }
  100% {
    background-color: #272626;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-color: #303134;
  }
  50% {
    background-color: #b3b3b3;
  }
  100% {
    background-color: #272626;
  }
}

.results__organic_results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 670px;
  margin-left: 180px;
  color: #e8eaed;
}

.results__organic_results-container .results__list {
  padding-left: 0;
  margin-top: -10px;
}

.results__organic_results-container .results__list .list__item {
  list-style: none;
  color: #e8eaed;
  margin-top: 10px;
}

.results__organic_results-container .results__list .list__item .list__url-container {
  display: block;
  cursor: pointer;
}

.results__organic_results-container .results__list .list__item .list__url-container:hover ~ .list__title {
  text-decoration: underline;
}

.results__organic_results-container .results__list .list__item .list__url-container .list__url {
  font-size: 13px;
  font-style: normal;
  color: #bdc1c6;
  line-height: 3;
  text-decoration: none;
}

.results__organic_results-container .results__list .list__item .list__title {
  color: #8ab4f8;
  font-size: 20px;
  line-height: 0;
  font-weight: normal;
  text-decoration: none;
}

.results__organic_results-container .results__list .list__item .list__title:hover {
  text-decoration: underline;
}

.results__organic_results-container .results__list .list__item .list__snippet {
  font-size: 14px;
  color: #bdc1c6;
  margin-top: 5px;
}

.results__organic_results-container .results__list .list__item .list__sitelinks {
  list-style: none;
  margin-left: -20px;
}

.results__organic_results-container .results__list .list__item .list__sitelinks .sitelinks__item {
  margin-top: 20px;
}

.results__organic_results-container .results__list .list__item .list__sitelinks .sitelinks__item .sitelinks__title {
  color: #8ab4f8;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.results__organic_results-container .results__list .list__item .list__sitelinks .sitelinks__item .sitelinks__title:hover {
  text-decoration: underline;
}

.results__knowledge-container {
  width: 366px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 100px;
  margin-top: 0px;
  border: 1px solid #3c4043;
  border-radius: 8px;
}

.results__knowledge-container .knowledge__header {
  width: 100%;
}

.results__knowledge-container .knowledge__header .knowledge__images-container {
  width: 100%;
  height: 220px;
}

.results__knowledge-container .knowledge__header .knowledge__images-container .knowledge__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.results__knowledge-container .knowledge__header .knowledge__title-container {
  color: white;
  margin: 10px;
}

.results__knowledge-container .knowledge__header .knowledge__title-container .knowledge__title {
  font-weight: normal;
  font-size: 30px;
  display: inline;
}

.results__knowledge-container .knowledge__header .knowledge__title-container .knowledge__type {
  line-height: 1.58;
  font-weight: normal;
  margin-top: 5px;
  font-size: 14px;
  color: #9aa0a6;
}

.results__knowledge-container .knowledge__hr {
  color: #3c4043;
}

.results__knowledge-container .knowledge__data-container {
  margin: 10px;
}

.results__knowledge-container .knowledge__data-container .knowledge__description-container .knowledge__description {
  display: inline;
  color: #bdc1c6;
  font-size: 14px;
  line-height: 1.58;
}

.results__knowledge-container .knowledge__data-container .knowledge__description-container .knowledge__source {
  margin-left: 10px;
  text-decoration: none;
  color: #8ab4f8;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes {
  list-style: none;
  padding: 0;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes .list__item {
  color: #bdc1c6;
  margin-bottom: 10px;
  line-height: 1.58;
  font-size: 14px;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes .list__item .list__link {
  text-decoration: none;
  color: #bdc1c6;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes .list__item .list__link:hover {
  text-decoration: underline;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes .list__item .list__link .list__name {
  font-weight: bolder;
  display: inline;
}

.results__knowledge-container .knowledge__data-container .knowledge__known-attributes .list__item .list__value {
  display: inline;
  margin-left: 5px;
}

.ads-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 670px;
  margin-left: 180px;
  color: #e8eaed;
}

.ads-container .ads__list {
  padding-left: 0;
}

.ads-container .ads__list .list__item {
  list-style: none;
  color: #e8eaed;
  margin-top: 30px;
}

.ads-container .ads__list .list__item .list__url-container {
  display: block;
  cursor: pointer;
}

.ads-container .ads__list .list__item .list__url-container:hover ~ .list__title {
  text-decoration: underline;
}

.ads-container .ads__list .list__item .list__url-container .list__url {
  font-size: 13px;
  font-style: normal;
  color: #bdc1c6;
  line-height: 3;
  text-decoration: none;
}

.ads-container .ads__list .list__item .list__title {
  color: #8ab4f8;
  font-size: 20px;
  line-height: 0;
  font-weight: normal;
  text-decoration: none;
}

.ads-container .ads__list .list__item .list__title:hover {
  text-decoration: underline;
}

.ads-container .ads__list .list__item .list__snippet {
  font-size: 14px;
  color: #bdc1c6;
  margin-top: 5px;
}

.ads-container .ads__list .list__item .list__sitelinks {
  list-style: none;
  margin-left: -20px;
}

.ads-container .ads__list .list__item .list__sitelinks .sitelinks__item {
  margin-top: 20px;
}

.ads-container .ads__list .list__item .list__sitelinks .sitelinks__item .sitelinks__title {
  color: #8ab4f8;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.ads-container .ads__list .list__item .list__sitelinks .sitelinks__item .sitelinks__title:hover {
  text-decoration: underline;
}

.top-histories-container {
  width: 670px;
  margin-left: 180px;
  margin-top: 0px;
}

.top-histories-container .top-histories__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8eaed;
}

.top-histories-container .top-histories__title-container .top-histories__title {
  margin-left: 15px;
  font-size: 22px;
  font-weight: normal;
  line-height: .5;
}

.top-histories-container .top-histories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.top-histories-container .top-histories__list .list__item {
  width: 210px;
  list-style: none;
  border: 1px solid #3c4043;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.top-histories-container .top-histories__list .list__item:hover .list__title {
  text-decoration: underline;
}

.top-histories-container .top-histories__list .list__item .list__img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-histories-container .top-histories__list .list__item .list__source {
  text-decoration: none;
  color: #bdc1c6;
  padding: 15px;
  display: block;
  font-size: 12px;
}

.top-histories-container .top-histories__list .list__item .list__title {
  color: #8ab4f8;
  padding: 0 0 40px 15px;
  text-decoration: none;
  display: inline-block;
  line-height: 20px;
}

.top-histories-container .top-histories__list .list__item .list__date {
  text-decoration: none;
  color: #9aa0a6;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 12px;
}

.related-questions-container {
  margin-left: 180px;
  margin-top: 40px;
  margin-bottom: -20px;
}

.related-questions-container .related-questions__title {
  color: #dddee1;
  font-weight: normal;
  font-size: 22px;
}

.related-questions-container .related-questions__list {
  margin: 0;
  padding: 0;
}

.related-questions-container .related-questions__list .list__item {
  color: #bdc1c6;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #3c4043;
  border-bottom: 1px solid #3c4043;
  cursor: pointer;
  width: 670px;
}

.related-questions-container .related-questions__list .list__item .list__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.related-questions-container .related-questions__list .list__item .list__accordion-header .header__title {
  line-height: 0;
  font-weight: normal;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body {
  display: none;
  max-height: 0;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body.active {
  max-height: 290px;
  display: inline;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__text {
  cursor: text;
  margin: 0;
  line-height: 24px;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__link-container:hover ~ .body__title {
  text-decoration: underline;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__link-container .body__link {
  text-decoration: none;
  color: #bdc1c6;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__title {
  color: #8ab4f8;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__title:hover {
  text-decoration: underline;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__search-for-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bdc1c6;
  cursor: default;
  margin-top: 30px;
}

.related-questions-container .related-questions__list .list__item .list__accordion-body .body__search-for-title .body__search-for {
  text-decoration: none;
  color: #8ab4f8;
  margin-left: 10px;
}

.related-searches-container {
  margin-left: 180px;
  color: #bdc1c6;
}

.related-searches-container .realted-searches__header {
  border-bottom: 1px solid #3c4043;
}

.related-searches-container .realted-searches__header .related-searches__title {
  font-size: 22px;
  font-weight: normal;
  color: #ddd;
  line-height: 0;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__title {
  font-weight: normal;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list .list__item {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list .list__item .list__image {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 8px;
  cursor: pointer;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list .list__item .list__image:hover ~ .list__query {
  text-decoration: underline;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list .list__item .list__query {
  color: #bdc1c6;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.related-searches-container .related-searches__body .related-searches__group-container .group__list .list__item .list__query:hover {
  text-decoration: underline;
}

.related-searches-container .related-searches__body .related-searches__group-standard {
  border-top: 1px solid #3c4043;
  margin-top: 40px;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list {
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 10px;
  margin-top: 40px;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container {
  text-decoration: none;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  height: 48px;
  max-height: 48px;
  background-color: #303134;
  cursor: pointer;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container .list__item:hover .list__link {
  text-decoration: underline;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container .list__item .fa-search {
  margin-left: 20px;
  color: #bdc1c6;
  font-size: 14px;
  text-decoration: none;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container .list__item .list__link {
  margin-left: 20px;
  text-decoration: none;
  color: #bdc1c6;
}

.related-searches-container .related-searches__body .related-searches__group-standard .standard__list .list__item-container .list__item .list__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */